svg {
	display: block;
	margin: 10% auto;
}

.path {
	stroke-dasharray: 150;
	stroke-dashoffset: 150;
	animation: dash 3s linear alternate infinite;
}

@keyframes dash {
	from {
		stroke-dashoffset: 150;
	}

	to {
		stroke-dashoffset: 0;
	}
}